@media only screen and (max-width: 600px) {
  .header-container {
    padding: 0px 20px;

    .navbar {
      .navbar-brand {
        img {
          width: 150px;
        }
      }

      .menu-items {
        ul {
          text-align: center;
          gap: 10px;
          margin-left: 0;

          li a {
            font-size: 18px;
            line-height: 17px;
          }
        }
      }

      .social-media-icons {
        ul li {
          text-align: center;

          a i {
            font-size: 45px;
          }
        }
      }
    }
  }
  .landing-page {
    .hero-section {
      height: 400px;
      .hero-section-content {
        .hero-section-img {
          &._left-leaves {
            width: 300px;
            left: -144px;
            top: -102px;
          }

          &._full-color-flavor {
            width: 325px;
            left: 10px;
            top: 15px;
          }

          &._tomatoes {
            width: 300px;
            top: 250px;
            left: -110px;
          }

          &._beans {
            left: -52px;
            width: 94px;
            top: 170px;
          }

          &._leaves-right,
          &._corn {
            display: none;
          }
        }

        button {
          height: 35px;
          width: 225px;
          left: 2%;
          bottom: 100px;

          p {
            font-size: 15px;
          }

          i {
            font-size: 17px;
          }
        }
      }
    }

    .products-range {
      h5 {
        line-height: 35px;
        font-size: 45px;
        padding-top: 110px;
        margin-bottom: 40px;
      }

      .products {
        flex-wrap: wrap;
        row-gap: 25px;
        margin-bottom: 30px;
        flex-flow: wrap-reverse;

        img {
          width: 50%;
        }
      }

      .discover-more-btn {
        button {
          margin-bottom: 40px;
          width: 250px;

          p {
            font-size: 15px;
          }
        }
      }
    }

    .about-mangrove {
      h5 {
        font-size: 45px;
        line-height: 45px;
        padding-top: 50px;
        margin-bottom: 20px;
      }

      h6 {
        font-size: 20px;
        line-height: 27px;
        padding: 0 20px;
        width: 100%;
      }

      img {
        padding: 0;
      }

      .side-img {
        &.pepper-nut {
          display: none;
        }
      }

      .about-mangrove-block-2 {
        height: 100px;
      }
    }

    .our-recipes {
      h5 {
        padding-top: 50px;
        font-size: 45px;
      }
      .our-recipes-content {
        padding-bottom: 50px;
        padding-top: 20px;

        .custom-dot-list-style {
          bottom: 13px;
        }

        .our-recipes-content-carousel {
          ul {
            li {
              display: flex;
              justify-content: center;
            }
            &.react-multi-carousel-track {
              display: flex;
              justify-content: center;
              gap: 0;
            }
          }
        }

        .our-recipes-content-item {
          width: 400px;
          padding: 20px 15px;
          height: 216px;

          .our-recipes-content-item-img {
            img {
              width: 295px;
            }
          }

          .our-recipes-content-item-text {
            h6 {
              font-size: 35px;
              margin-bottom: 10px;
            }
            p {
              margin-bottom: 19px;
              font-size: 15px;
              line-height: 20px;
            }
            button {
              width: 165px;
              font-size: 14px;

              p {
                margin-bottom: 0;
              }
            }
          }
        }
      }
      .more-recipes-btn-container {
        padding-bottom: 50px;
        button {
          width: 250px;
          p {
            font-size: 15px;
          }
        }
      }
    }
  }

  .store-locator {
    .store-locator-container {
      .store-locator-header {
        height: 280px;
        h1 {
          font-size: 34px;
        }

        .store-locator-header_search-container {
          flex-flow: column;
          gap: 10px;

          .store-locator-header_search-container_form-group {
            width: 100%;
          }

          button {
            height: 45px;
            &:disabled {
              opacity: 0.1;
              cursor: not-allowed;
            }
            .loading .spinner-border {
              width: 20px;
              height: 20px;
              color: #fff !important;
            }
          }
        }
      }

      .store-locator-content {
        .row {
          flex-direction: column-reverse;

          .store-locator-content_map {
            .map-wrapper #map {
              height: 200px !important;
            }
          }
        }
      }
    }
  }

  .footer-container {
    padding: 0;
    .footer {
      display: flex;
      flex-flow: column;
      padding: 20px 30px;
      gap: 15px;

      .logo-column {
        img {
          width: 200px;
        }
      }

      .height-line {
        display: none;
      }

      .newsletter-column {
        width: 100%;

        button {
          padding: 5px 25px;
          p {
            font-size: 15px;
          }
        }
      }

      .bottom-footer,
      .mangrove-brand {
        display: none !important;
      }

      .mobile-copyright-column {
        display: block;
        margin-top: -20px;

        p {
          font-size: 13px;
          color: var(--secondary-color);
          font-weight: 200;
        }

        .social-media-icons {
          display: flex;
          gap: 10px;
          a {
            color: #fff;
            font-size: 35px;
          }
        }
      }
    }

    .footer-bottom {
      display: none;
    }
  }
}

@media (min-width: 820px) and (max-width: 1025px) {
  .landing-page {
    .header-container {
      padding-left: 30px;
      .navbar {
        .navbar-brand {
          img {
            width: 150px;
          }
        }
        .menu-items ul {
          gap: 15px;
          margin-left: 50px;
          li a {
            font-size: 18px;
          }
        }

        .social-media-icons {
          ul li {
            a i {
              font-size: 45px;
            }
          }
        }
      }
    }

    .hero-section {
      .hero-section-content {
        .hero-section-img {
          &._leaves-right,
          &._corn,
          &._beans {
            display: none;
          }

          &._full-color-flavor {
            left: 50px !important;
            width: 650px !important;
            top: 200px !important;
          }
        }
      }
    }
  }
}

@media (min-width: 1025px) and (max-width: 1500px) {
  .landing-page {
    .hero-section {
      .hero-section-content {
        .hero-section-img {
          &._beans {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 1700px) {
  .landing-page {
    .hero-section {
      .hero-section-content {
        .hero-section-img {
          &._leaves-right {
            display: none;
          }
          &._corn {
            display: none;
          }
        }
      }
    }
  }
}
